* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background: url("../images/background.jpg") no-repeat fixed center;
    background-size: cover;
    font-family: 'Racing Sans One', cursive;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.theme{
    background-color: rgba(219, 219, 219, 0.5);
    border-radius: 25px;
    margin-top: 25px;
}

/*HEADER*/
.header__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-gap: 10px 10px;
}

.header-image {
    width: 75%;
    border-radius: 25px;
}

.header-title {
    grid-column: 1/span 2;
    text-align: center;
    font-size: 50px;
}

.header-subtitle {
    grid-column: 1/ span 2;
    text-align: center;
    font-size: 40px;
}

.header-text {
    width: 90%;
    font-size: 30px;
    align-self: center;
    /*text-align: center;*/
}

/*PORTFOLIO*/
.portfolio-title{
    text-align: center;
}

.portfolio-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0 25px;
}
.portfolio-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.content-link{
    display: contents;
    width: inherit;
}
.content-link-img{
    width: 50%;
}
/*CONTACTS*/
.contacts {
    display: flex;
    justify-content: center;
}

.contacts img {
    padding-top: 10px;
    width: 50px;
}

@media only screen and (max-width: 1024px) {
    .header-title{
        font-size: 40px;
    }
    .header-subtitle{
        font-size: 30px;
    }
    .header-text{
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .header-title{
        font-size: 36px;
    }

    .header-subtitle{
        font-size: 26px;
    }

    .header-text{
        font-size: 16px;
    }
}

@media only screen and (max-width: 640px) {

    .header__inner{
        padding: 15px 0 15px;
    }

    .header-text{
        text-align: center;
        justify-self: center;
        grid-column: 1/span 2;
    }
    .header-image{
        grid-column: 1/span 2;
        justify-self: center;
    }
    .header-title{
        font-size: 30px;
    }
    .header-subtitle{
        font-size: 20px;
    }
}